<?xml version="1.5" encoding="UTF-8"?>
<module sdkVersion="3.6c" compilationDate="03032023003412" sdkApiVersion="86" originalPluginFileName="MdB.rpk" compilationDigest="a5d59d882006d9ca9fcb2080fe9699020010e4b5">
	<id>MultiVerso_MdB</id>
	<version>0.6.6.6</version>
	
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>MdB</name>
        <description>Modelo de ficha para MALIEU-EARTH</description>
        <author>Zambrakas &amp; Krampus</author>
        <site>https://discord.gg/djkwZSgS</site>
        <contact>https://www.Instagram.com/Gabriel_Dungas</contact>
    </info>
    
    

    
    
    
    
    
    
</module>
